@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansCyrlBold/MuseoSansCyrl-700.woff") format("woff"),
        url("../fonts/MuseoSansCyrlBold/MuseoSansCyrl-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansCyrlMedium/MuseoSansCyrl-500.woff") format("woff"),
        url("../fonts/MuseoSansCyrlMedium/MuseoSansCyrl-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansCyrlLight/MuseoSansCyrl-300.woff") format("woff"),
        url("../fonts/MuseoSansCyrlLight/MuseoSansCyrl-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
