<div class="comprasion__footer">
    <div class="container">
        <div class="comprasion__wrapper">
            <div class="comprasion__foter-left">
                <ul class="comprasion__footer-links">
                    <li class="comprasion__footer-link">
                        <a href="javascript:void(0);">О компании</a>
                    </li>
                    <li class="comprasion__footer-link">
                        <a href="javascript:void(0);">Покупателям</a>
                    </li>
                    <li class="comprasion__footer-link">
                        <a href="javascript:void(0);">Получение и оплата</a>
                    </li>
                    <li class="comprasion__footer-link">
                        <a href="javascript:void(0);">Контакты</a>
                    </li>
                    <li class="comprasion__footer-link">
                        <a href="javascript:void(0);">Политика конфидециальности</a>
                    </li>
                </ul>
                <div class="comprasion__footer-rights">
                    © 2005-2021, Компания «Европос Групп». Все права
                    защищены.
                </div>
            </div>
            <div class="comprasion__foter-right">
                <p class="comprasion__footer-text">Мы в соцсетях</p>
                <ul class="comprasion__footer-social">
                    <li class="comprasion__footer-social-link">
                        <a href="javascript:void(0);"
                            ><img
                                src="./assets/img/socials/youtube.svg"
                                alt="youtube"
                                width="30"
                                height="30"
                        /></a>
                    </li>
                    <li class="comprasion__footer-social-link">
                        <a href="javascript:void(0);"
                            ><img
                                src="./assets/img/socials/facebook.svg"
                                alt="facebook"
                                width="30"
                                height="30"
                        /></a>
                    </li>
                    <li class="comprasion__footer-social-link">
                        <a href="javascript:void(0);"
                            ><img
                                src="./assets/img/socials/inst.svg"
                                alt="inst"
                                width="30"
                                height="30"
                        /></a>
                    </li>
                    <li class="comprasion__footer-social-link">
                        <a href="javascript:void(0);"
                            ><img
                                src="./assets/img/socials/vk.svg"
                                alt="vk"
                                width="30"
                                height="30"
                        /></a>
                    </li>
                    <li class="comprasion__footer-social-link">
                        <a href="javascript:void(0);"
                            ><img
                                src="./assets/img/socials/ok.svg"
                                alt="ok"
                                width="30"
                                height="30"
                        /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>